/* entire container, keeps perspective */
.card-container {
  perspective: 60rem;
  margin: .25rem;
}
/* flip the card when hovered */
.card-container:hover .flipper,
.card-container.hover .flipper{
  transform: rotateY(180deg);
}

.card-container, .front, .back {
  width: 13rem;
  height: 13rem;
}

/* flip speed goes here */
.flipper {
  transition: .6s;
  transform-style: preserve-3d;
  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  background-color: #5042f4;
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}

.card-logo {
  max-height: 13rem;
  max-width: 13rem;

}
