.bg-yellow {
    background-color: #ffed98,
}
.hr-spacing {
    margin-top: -0.9375rem;
    margin-right: 10rem;
    margin-left: 10rem;
}

.technologies-list-item {
    width: 17rem;
    height: 3rem;
}

.technologies-list {
    width: 28rem;
    height: 3rem;
}

.icon img {
  height: 3rem;
}
  
.list {
  width: 35rem;
}