.bg { 
    /* The image used */
    background-image: url("../assets/background.jpg");

    /* Full height */
    height: 100vh; 

    /* Center and scale the image nicely */
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}
.labs-logo {
    max-width: 18rem;
    display: block;
    margin: 4rem auto;

}
