.bg { 
    /* The image used */
    background-image: url("../assets/background.jpg");

    /* Full height */
    height: 100vh; 

    /* Center and scale the image nicely */
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    flex-grow: 1.5;
}

.labs-logo {
    max-width: 18rem;
    display: block;
    margin: 4rem auto;
}

.side-container {
    max-width: 25rem;
}
